Using `encodedData_01.csv` directly, only keep the one-hot encoding data

In [9]:
# First code block is the import libraries  
import numpy as np
import pandas as pd
from sklearn import metrics
from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold, cross_val_score

In [10]:
dataPath = '../../preprocess_train_dataset/encodedData_01.csv'

df_spaceship = pd.read_csv(dataPath)

df_spaceship.shape

(8693, 36)

In [11]:
df_spaceship

,PassengerId,HomePlanet,Earth,Europa,Mars,CryoSleep,Cabin_deck,Cabin_deck_A,Cabin_deck_B,Cabin_deck_C,...,FoodCourt,ShoppingMall,Spa,VRDeck,Total_spending,First_Name,Last_Name,First_Name_le,Last_Name_le,Transported
0,0001_01,Europa,False,True,False,False,B,False,True,False,...,0.0,0.0,0.0,0.0,0.0,Maham,Ofracculy,1614,1431,False
1,0002_01,Earth,True,False,False,False,F,False,False,False,...,9.0,25.0,549.0,44.0,736.0,Juanna,Vines,1407,2109,True
2,0003_01,Europa,False,True,False,False,A,True,False,False,...,3576.0,0.0,6715.0,49.0,10383.0,Altark,Susent,156,1990,False
3,0003_02,Europa,False,True,False,False,A,True,False,False,...,1283.0,371.0,3329.0,193.0,5176.0,Solam,Susent,2276,1990,False
4,0004_01,Earth,True,False,False,False,F,False,False,False,...,70.0,151.0,565.0,2.0,1091.0,Willy,Santantines,2642,1778,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,True,False,False,A,True,False,False,...,6819.0,0.0,1643.0,74.0,8536.0,Gravior,Noxnuther,1135,1416,False
8689,9278_01,Earth,True,False,False,True,G,False,False,False,...,0.0,0.0,0.0,0.0,0.0,Kurta,Mondalley,1492,1341,False
8690,9279_01,Earth,True,False,False,False,G,False,False,False,...,0.0,1872.0,1.0,0.0,1873.0,Fayey,Connon,955,470,True
8691,9280_01,Europa,False,True,False,False,E,False,False,False,...,1049.0,0.0,353.0,3235.0,4637.0,Celeon,Hontichre,526,996,False
8692,9280_02,Europa,False,True,False,False,E,False,False,False,...,4688.0,0.0,0.0,12.0,4826.0,Propsh,Hontichre,2010,996,True

In [12]:
df_spaceship.dtypes

PassengerId        object
HomePlanet         object
Earth                bool
Europa               bool
Mars                 bool
CryoSleep            bool
Cabin_deck         object
Cabin_deck_A         bool
Cabin_deck_B         bool
Cabin_deck_C         bool
Cabin_deck_D         bool
Cabin_deck_E         bool
Cabin_deck_F         bool
Cabin_deck_G         bool
Cabin_deck_T         bool
Cabin_num           int64
Cabin_side         object
Cabin_side_P         bool
Cabin_side_S         bool
Destination        object
55 Cancri e          bool
PSO J318.5-22        bool
TRAPPIST-1e          bool
Age               float64
VIP                  bool
RoomService       float64
FoodCourt         float64
ShoppingMall      float64
Spa               float64
VRDeck            float64
Total_spending    float64
First_Name         object
Last_Name          object
First_Name_le       int64
Last_Name_le        int64
Transported          bool
dtype: object

In [13]:
# df_spaceship.astype({
#     "PassengerId": str,
#     "HomePlanet": str,
#     "CryoSleep": str,
#     "Cabin": str,
#     "Destination": str,
#     "Age": int,
#     "VIP": bool,
    
    
    
#     })

In [14]:
train_x, train_y = df_spaceship.drop(columns=['Transported']), df_spaceship['Transported']

In [15]:
# drop categorical data, remain the one hot encoded ones 

train_x.drop(['PassengerId', 'HomePlanet', 'Cabin_deck', 'Cabin_side', 'Destination', 'First_Name', 'First_Name_le', 'Last_Name'], axis=1, inplace=True)

In [16]:
train_x

,Earth,Europa,Mars,CryoSleep,Cabin_deck_A,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,...,TRAPPIST-1e,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Total_spending,Last_Name_le
0,False,True,False,False,False,True,False,False,False,False,...,True,39.0,False,0.0,0.0,0.0,0.0,0.0,0.0,1431
1,True,False,False,False,False,False,False,False,False,True,...,True,24.0,False,109.0,9.0,25.0,549.0,44.0,736.0,2109
2,False,True,False,False,True,False,False,False,False,False,...,True,58.0,True,43.0,3576.0,0.0,6715.0,49.0,10383.0,1990
3,False,True,False,False,True,False,False,False,False,False,...,True,33.0,False,0.0,1283.0,371.0,3329.0,193.0,5176.0,1990
4,True,False,False,False,False,False,False,False,False,True,...,True,16.0,False,303.0,70.0,151.0,565.0,2.0,1091.0,1778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,True,False,False,True,False,False,False,False,False,...,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,8536.0,1416
8689,True,False,False,True,False,False,False,False,False,False,...,False,18.0,False,0.0,0.0,0.0,0.0,0.0,0.0,1341
8690,True,False,False,False,False,False,False,False,False,False,...,True,26.0,False,0.0,0.0,1872.0,1.0,0.0,1873.0,470
8691,False,True,False,False,False,False,False,False,True,False,...,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,4637.0,996
8692,False,True,False,False,False,False,False,False,True,False,...,True,44.0,False,126.0,4688.0,0.0,0.0,12.0,4826.0,996

In [17]:
train_y

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [22]:

k_folds = KFold(n_splits = 8)

tree_cv = DecisionTreeClassifier()

scores = cross_val_score(tree_cv, train_x, train_y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("\nAverage CV Score: ", scores.mean())

Cross Validation Scores:  [0.73229071 0.7175713  0.74977001 0.74149034 0.76448942 0.76243094
 0.75966851 0.70810313]

Average CV Score:  0.741976794224732

In [23]:

param_grid = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'splitter': ['best', 'random'],
    'max_depth': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'min_samples_leaf': [1, 2, 3, 4, 5],
    'min_samples_split': [2, 3, 4, 5, 6, 7, 8, 9, 10]
}

grid_search = GridSearchCV(estimator=DecisionTreeClassifier(), param_grid=param_grid, cv=8)

X_train = train_x
y_train = train_y
grid_search.fit(X_train, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

In [24]:
# Print the cross-validation score of the best model
print("Best Cross-Validation Score:", grid_search.best_score_)

print("\n\nBest Model parameters:", best_params)

Best Cross-Validation Score: 0.7720039356805102


Best Model parameters: {'criterion': 'gini', 'max_depth': 4, 'min_samples_leaf': 1, 'min_samples_split': 2, 'splitter': 'best'}

In [33]:
fullParamGrid_result = pd.DataFrame(grid_search.cv_results_)
fullParamGrid_result.columns

Index(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time',
       'param_criterion', 'param_max_depth', 'param_min_samples_leaf',
       'param_min_samples_split', 'param_splitter', 'params',
       'split0_test_score', 'split1_test_score', 'split2_test_score',
       'split3_test_score', 'split4_test_score', 'split5_test_score',
       'split6_test_score', 'split7_test_score', 'mean_test_score',
       'std_test_score', 'rank_test_score'],
      dtype='object')

In [29]:
fullParamGrid_result.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_splitter,params,...,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,mean_test_score,std_test_score,rank_test_score
0,0.013144,0.000348,0.001001,0.000011,gini,3,1,2,best,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",...,0.735051,0.747930,0.719411,0.748850,0.763352,0.778085,0.762431,0.751760,0.017110,1708
1,0.003198,0.000337,0.001003,0.000006,gini,3,1,2,random,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",...,0.697332,0.731371,0.706532,0.729531,0.724678,0.766114,0.738490,0.726222,0.019730,2623
2,0.012689,0.000553,0.001252,0.000434,gini,3,1,3,best,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",...,0.735051,0.747930,0.719411,0.748850,0.763352,0.778085,0.762431,0.751760,0.017110,1708
3,0.003123,0.000331,0.001013,0.000025,gini,3,1,3,random,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",...,0.706532,0.743330,0.689972,0.729531,0.725599,0.756906,0.730203,0.724725,0.019542,2649
4,0.013446,0.000929,0.001124,0.000331,gini,3,1,4,best,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",...,0.735051,0.747930,0.719411,0.748850,0.763352,0.778085,0.762431,0.751760,0.017110,1708

In [37]:
df_paramGrid = fullParamGrid_result[['param_criterion', 'param_max_depth', 'param_min_samples_leaf',
    'param_min_samples_split', 'param_splitter',
    'mean_test_score', 'std_test_score', 'rank_test_score']]

In [40]:
df_paramGrid.sort_values(by='mean_test_score', ascending=False,).head(20)

,param_criterion,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_splitter,mean_test_score,std_test_score,rank_test_score
104,gini,4,1,9,best,0.772004,0.014065,1
90,gini,4,1,2,best,0.772004,0.014065,1
130,gini,4,3,4,best,0.772004,0.014065,1
132,gini,4,3,5,best,0.772004,0.014065,1
134,gini,4,3,6,best,0.772004,0.014065,1
136,gini,4,3,7,best,0.772004,0.014065,1
138,gini,4,3,8,best,0.772004,0.014065,1
140,gini,4,3,9,best,0.772004,0.014065,1
142,gini,4,3,10,best,0.772004,0.014065,1
158,gini,4,4,9,best,0.772004,0.014065,1
144,gini,4,4,2,best,0.772004,0.014065,1
146,gini,4,4,3,best,0.772004,0.014065,1
148,gini,4,4,4,best,0.772004,0.014065,1
150,gini,4,4,5,best,0.772004,0.014065,1
152,gini,4,4,6,best,0.772004,0.014065,1
154,gini,4,4,7,best,0.772004,0.014065,1
128,gini,4,3,3,best,0.772004,0.014065,1
126,gini,4,3,2,best,0.772004,0.014065,1
124,gini,4,2,10,best,0.772004,0.014065,1
122,gini,4,2,9,best,0.772004,0.014065,1

From the above comparison, the best params are 
|   param_criterion    |    param_splitter	|   param_max_depth     |   |   |
|----------------------|--------------------|-----------------------|---|---|
|       gini           |        best        |           4           |   |   |

In [45]:
test_dataPath = '../../preprocess_test_dataset/encodedData_01.csv'

df_test = pd.read_csv(test_dataPath)

print(df_test.shape)
print(df_test.columns)

(4277, 35)
Index(['PassengerId', 'HomePlanet', 'Earth', 'Europa', 'Mars', 'CryoSleep',
       'Cabin_deck', 'Cabin_deck_A', 'Cabin_deck_B', 'Cabin_deck_C',
       'Cabin_deck_D', 'Cabin_deck_E', 'Cabin_deck_F', 'Cabin_deck_G',
       'Cabin_deck_T', 'Cabin_num', 'Cabin_side', 'Cabin_side_P',
       'Cabin_side_S', 'Destination', '55 Cancri e', 'PSO J318.5-22',
       'TRAPPIST-1e', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall',
       'Spa', 'VRDeck', 'Total_spending', 'First_Name', 'Last_Name',
       'First_Name_le', 'Last_Name_le'],
      dtype='object')

In [46]:
# drop categorical data, remain the one hot encoded ones 
df_test_PassengerId = df_test['PassengerId']
df_test.drop(['PassengerId', 'HomePlanet', 'Cabin_deck', 'Cabin_side', 'Destination', 'First_Name', 'First_Name_le', 'Last_Name'], axis=1, inplace=True)

In [47]:
df_test.columns

Index(['Earth', 'Europa', 'Mars', 'CryoSleep', 'Cabin_deck_A', 'Cabin_deck_B',
       'Cabin_deck_C', 'Cabin_deck_D', 'Cabin_deck_E', 'Cabin_deck_F',
       'Cabin_deck_G', 'Cabin_deck_T', 'Cabin_num', 'Cabin_side_P',
       'Cabin_side_S', '55 Cancri e', 'PSO J318.5-22', 'TRAPPIST-1e', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Total_spending', 'Last_Name_le'],
      dtype='object')

In [49]:
# output 2 predictions :
#   1) originally Decision-Tree
#   2) Decision-Tree with best params

test_x = df_test
output_path = '../../output_prediction/'


ori_tree_clf = DecisionTreeClassifier()

ori_tree_clf.fit(train_x, train_y)
preds_01 = ori_tree_clf.predict(test_x)

submission_01 = pd.DataFrame({'PassengerId': df_test_PassengerId, 'Transported': preds_01})
submission_01.to_csv(output_path+'DT_01_1.csv', index=False, index_label=False)


# gini	4	4	3	best
bestParam_tree_clf = DecisionTreeClassifier(
    criterion = 'gini',
    splitter = 'best',
    max_depth = 4,
    min_samples_leaf = 4,
    min_samples_split = 3
)

bestParam_tree_clf.fit(train_x, train_y)
preds_02 = bestParam_tree_clf.predict(test_x)

submission_02 = pd.DataFrame({'PassengerId': df_test_PassengerId, 'Transported': preds_02})
submission_02.to_csv(output_path+'DT_01_2.csv', index=False, index_label=False)