In [2]:
# First code block is the import libraries  
import numpy as np
import pandas as pd
from sklearn import metrics
from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score

In [3]:
dataPath = '../../preprocess_dataset/encodedData_01.csv'

df_spaceship = pd.read_csv(dataPath)

df_spaceship.shape

(8693, 36)

In [4]:
df_spaceship

,PassengerId,HomePlanet,Earth,Europa,Mars,CryoSleep,Cabin_deck,Cabin_deck_A,Cabin_deck_B,Cabin_deck_C,...,FoodCourt,ShoppingMall,Spa,VRDeck,Total_spending,First_Name,Last_Name,First_Name_le,Last_Name_le,Transported
0,0001_01,Europa,False,True,False,False,B,False,True,False,...,0.0,0.0,0.0,0.0,0.0,Maham,Ofracculy,1614,1431,False
1,0002_01,Earth,True,False,False,False,F,False,False,False,...,9.0,25.0,549.0,44.0,736.0,Juanna,Vines,1407,2109,True
2,0003_01,Europa,False,True,False,False,A,True,False,False,...,3576.0,0.0,6715.0,49.0,10383.0,Altark,Susent,156,1990,False
3,0003_02,Europa,False,True,False,False,A,True,False,False,...,1283.0,371.0,3329.0,193.0,5176.0,Solam,Susent,2276,1990,False
4,0004_01,Earth,True,False,False,False,F,False,False,False,...,70.0,151.0,565.0,2.0,1091.0,Willy,Santantines,2642,1778,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,True,False,False,A,True,False,False,...,6819.0,0.0,1643.0,74.0,8536.0,Gravior,Noxnuther,1135,1416,False
8689,9278_01,Earth,True,False,False,True,G,False,False,False,...,0.0,0.0,0.0,0.0,0.0,Kurta,Mondalley,1492,1341,False
8690,9279_01,Earth,True,False,False,False,G,False,False,False,...,0.0,1872.0,1.0,0.0,1873.0,Fayey,Connon,955,470,True
8691,9280_01,Europa,False,True,False,False,E,False,False,False,...,1049.0,0.0,353.0,3235.0,4637.0,Celeon,Hontichre,526,996,False
8692,9280_02,Europa,False,True,False,False,E,False,False,False,...,4688.0,0.0,0.0,12.0,4826.0,Propsh,Hontichre,2010,996,True

In [13]:
df_spaceship.dtypes

PassengerId        object
HomePlanet         object
Earth                bool
Europa               bool
Mars                 bool
CryoSleep            bool
Cabin_deck         object
Cabin_deck_A         bool
Cabin_deck_B         bool
Cabin_deck_C         bool
Cabin_deck_D         bool
Cabin_deck_E         bool
Cabin_deck_F         bool
Cabin_deck_G         bool
Cabin_deck_T         bool
Cabin_num           int64
Cabin_side         object
Cabin_side_P         bool
Cabin_side_S         bool
Destination        object
55 Cancri e          bool
PSO J318.5-22        bool
TRAPPIST-1e          bool
Age               float64
VIP                  bool
RoomService       float64
FoodCourt         float64
ShoppingMall      float64
Spa               float64
VRDeck            float64
Total_spending    float64
First_Name         object
Last_Name          object
First_Name_le       int64
Last_Name_le        int64
Transported          bool
dtype: object

In [ ]:
# df_spaceship.astype({
#     "PassengerId": str,
#     "HomePlanet": str,
#     "CryoSleep": str,
#     "Cabin": str,
#     "Destination": str,
#     "Age": int,
#     "VIP": bool,
    
    
    
#     })

In [14]:
train_x, train_y = df_spaceship.drop(columns=['Transported']), df_spaceship['Transported']

In [15]:
# drop categorical data, remain the one hot encoded ones 

train_x.drop(['PassengerId', 'HomePlanet', 'Cabin_deck', 'Cabin_side', 'Destination', 'First_Name', 'First_Name_le', 'Last_Name'], axis=1, inplace=True)

In [16]:
train_x

,Earth,Europa,Mars,CryoSleep,Cabin_deck_A,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,...,TRAPPIST-1e,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Total_spending,Last_Name_le
0,False,True,False,False,False,True,False,False,False,False,...,True,39.0,False,0.0,0.0,0.0,0.0,0.0,0.0,1431
1,True,False,False,False,False,False,False,False,False,True,...,True,24.0,False,109.0,9.0,25.0,549.0,44.0,736.0,2109
2,False,True,False,False,True,False,False,False,False,False,...,True,58.0,True,43.0,3576.0,0.0,6715.0,49.0,10383.0,1990
3,False,True,False,False,True,False,False,False,False,False,...,True,33.0,False,0.0,1283.0,371.0,3329.0,193.0,5176.0,1990
4,True,False,False,False,False,False,False,False,False,True,...,True,16.0,False,303.0,70.0,151.0,565.0,2.0,1091.0,1778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,True,False,False,True,False,False,False,False,False,...,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,8536.0,1416
8689,True,False,False,True,False,False,False,False,False,False,...,False,18.0,False,0.0,0.0,0.0,0.0,0.0,0.0,1341
8690,True,False,False,False,False,False,False,False,False,False,...,True,26.0,False,0.0,0.0,1872.0,1.0,0.0,1873.0,470
8691,False,True,False,False,False,False,False,False,True,False,...,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,4637.0,996
8692,False,True,False,False,False,False,False,False,True,False,...,True,44.0,False,126.0,4688.0,0.0,0.0,12.0,4826.0,996

In [10]:
train_y

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [23]:

k_folds = KFold(n_splits = 8)

tree_cv = DecisionTreeClassifier()

scores = cross_val_score(tree_cv, train_x, train_y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("\nAverage CV Score: ", scores.mean())

Cross Validation Scores:  [0.724931   0.71297148 0.73873045 0.7350506  0.77276909 0.76979742
 0.75322284 0.72559853]

Average CV Score:  0.741633925803189